@charset "UTF-8";

:root{
    --cor1:#88F907;
    --cor2:#c9d472;
    --cor3:#95A805;
    --cor4:#F2E205;
    --cor5:#DBB807;
    --cor6:#F9B807;
}
*{
    margin:0px;
    padding:0px;
}
header{
    background-color:var(--cor3);
    background: var(--cor3) linear-gradient(to top, var(--cor3) 30%,var(--cor5),var(--cor6));
    height:150px;
}

header h1{
    color:var(--cor2);
    text-align:center;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.347);

    padding-top:20px;
    padding-bottom:10px;
}

header p{
    color:var(--cor2);
    text-align:center;
    text-shadow: 0px 0px 8px rgb(0 0 0 / 61%);
}

main p{
    font-weight: bold;

    white-space: pre;
}

section.cor{
    background-color:var(--cor3)
}
section.flor{
    background: var(--cor3) url('imagens/background001.jpg') center center no-repeat scroll;
    background-size:contain;
}
section.folhas{
    background-color: var(--cor3);
    background-image: url('imagens/background002.jpg');
}